<a routerLink="/customers">
    <mat-card>
        <mat-card-title>Customers</mat-card-title>
        <mat-card-subtitle>View, add, change, or remove customers</mat-card-subtitle>
    </mat-card>
</a>
