<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Middle Name</mat-label>
        <input matInput formControlName="middleName">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="lastName" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput type="tel" formControlName="phoneNumber" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput type="email" formControlName="emailAddress">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" [disabled]="!customerForm.valid">Submit</button>
</form>

<a mat-raised-button color="primary" routerLink="../">Cancel</a>