<table mat-table [dataSource]="customers" class="mat-elevation-z8">

    <mat-text-column name="firstName"></mat-text-column>
    <mat-text-column name="middleName"></mat-text-column>
    <mat-text-column name="lastName"></mat-text-column>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let customer">
            <a mat-mini-fab color="primary" routerLink="../{{customer.id}}">
                <mat-icon>open_in_new</mat-icon>
            </a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<a mat-raised-button color="primary" routerLink="../create">Create New</a>